<div class="p-1" id="aboutme"></div>
<div class="container p-5 mt-5">
    <h3 class="title"><i class="now-ui-icons business_badge"></i> About me</h3>
    <h5 class="description text-dark">I am Ashish Bagaddeo. With over 9 years of experience in developing and
        maintiaining large scale softwares, this is my first foray into web development. I am a self-taught backend
        developer with focus on Node.js and
        Django. Currently residing in London, i like to travel and in love with nature. With that, I pursue my other
        passion
        i.e. Photography.</h5>
    <div class="tab-pane" id="messages" role="tabpanel">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="row collections">
                <div class="col-md-6">
                    <img src="static/img/ashish_2.jpg" alt="" class="img-raised">
                </div>
                <div class="col-md-6">
                    <img src="static/img/ashish_1.jpg" alt="" class="img-raised">
                </div>
            </div>
        </div>
    </div>
</div>