<div class="p-2 mt-2" id="education"></div>
<div class="container edu p-1 mt-5">
    <h3 class="title"><i class="now-ui-icons education_hat"></i> Academy </h3>
    <div class="row">
        <div class="card card1 border-light ml-auto mr-auto" style="max-width: 20rem;">
            <div class="card-header p-2">High School Certification (SSC)</div>
            <div class="card-body">
                <h5 class="card-title">Pune Board, India</h5>
                <p class="h6"> ~ Year : 2002</p>
                <p class="h6"> ~ Score : 67% </p>
                <p class="h6"> ~ Class : First </p>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card2 border-light ml-auto mr-auto" style="max-width: 18rem;">
            <div class="card-header p-2">Jr. College (HSC)</div>
            <div class="card-body">
                <h5 class="card-title">Pune Board, India</h5>
                <p class="h6"> ~ Year : 2004</p>
                <p class="h6"> ~ Score : 69% </p>
                <p class="h6"> ~ Class : First </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card3 border-light ml-auto mr-auto" style="max-width: 18rem;">
            <div class="card-header p-2">Bachaelor of Science in IT (Bsc IT)</div>
            <div class="card-body">
                <h5 class="card-title">Mumbai Univarsity, India</h5>
                <p class="h6"> ~ Year : 2008</p>
                <p class="h6"> ~ Score : 71% </p>
                <p class="h6"> ~ Class : First </p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="card card4 border-light ml-auto mr-auto" style="max-width: 22rem;">
            <div class="card-header p-2">MS Software Engineering</div>
            <div class="card-body">
                <h5 class="card-title">BITS Pilani, India</h5>
                <p class="h6"> ~ Year : 2012</p>
                <p class="h6"> ~ CGPA : 6.5 </p>
                <p class="h6"> ~ Class : First </p>
            </div>
        </div>
    </div>
</div>