<div class="row p-5" id="portfolio">
    <div class="col-md-6 ml-auto mr-auto" id="portfolio">
        <h3 class="title"><i class="now-ui-icons sport_trophy"></i> Portfolio </h3>
        <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#camera" role="tablist">
                        <i class="now-ui-icons media-1_camera-compact"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#projects" role="tablist">
                        <i class="now-ui-icons business_briefcase-24"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content gallery">
        <div class="tab-pane" id="camera" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                    <div class="col-md-6">
                        <img src="static/img/bg1.jpg" alt="" class="img-raised">
                        <img src="static/img/bg3.jpg" alt="" class="img-raised">
                    </div>
                    <div class="col-md-6">
                        <img src="static/img/bg2.jpg" alt="" class="img-raised">
                        <img src="static/img/bg4.jpg" alt="" class="img-raised">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="projects" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                    <div class="col-md-6">
                        <a href="http://mean-todo.s3-website.us-east-2.amazonaws.com/" target="_blank"><img src="static/img/toDO.PNG" alt="toDO App" class="img-raised"></a>
                    </div>
                    <div class="col-md-6">
                            <a href="http://cod-e-ash.us-west-2.elasticbeanstalk.com/" target="_blank"><img src="static/img/myPage.PNG" alt="My Portfolio" class="img-raised"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                    <div class="col-md-6">
                        <img src="static/img/bg3.jpg" alt="" class="img-raised">
                        <img src="static/img/bg8.jpg" alt="" class="img-raised">
                    </div>
                    <div class="col-md-6">
                        <img src="static/img/bg7.jpg" alt="" class="img-raised">
                        <img src="static/img/bg6.jpg" class="img-raised">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>