<div class="p-4 mb-3" id="workex"></div>
<div class="container workex shadow p-1 mb-5 bg-white rounded">
    <div class="row justify-content-center mb-4">
        <h3 class="h3 font-weight-bold">
            <a class="skill-arrow">
                <i class="fa fa-briefcase"></i>
            </a>
            <span>Work Ex</span>
        </h3>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="main-timeline8">
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2017-18</span>
                    <div class="timeline-content">
                        <h6>
                            <span class="badge badge-success">RPGLE</span>
                            <span class="badge badge-info">CLLE</span>
                            <span class="badge badge-danger">SQL (DB2)</span>
                            <span class="badge badge-orchid">SHELL</span>
                        </h6>
                        <h3 class="title">Senior Developer at Citi</h3>
                        <p class="description font-weight-normal">
                            In March 2017, a day after my birthday, joined this wonderful organization and team. Got
                            the time
                            to
                            study <b>Derivative Market</b>, and the product which I was developing for 3 years, from a
                            client
                            perspective. Worked on
                            many
                            projects, as part of maintainance or regulatory requirement or analysis of day-to-day
                            business.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2014-17</span>
                    <div class="timeline-content">
                        <h6>
                            <span class="badge badge-success">RPGLE</span>
                            <span class="badge badge-info">CLLE</span>
                            <span class="badge badge-danger">SQL (DB2)</span>
                            <span class="badge badge-orchid">SHELL</span>
                            <span class="badge badge-pinka">VBA</span>
                        </h6>
                        <h3 class="title">Senior Developer at FIS</h3>
                        <p class="description font-weight-normal">
                            For more than 3 and half years, I, with many my team developed, maintained and enhanced the
                            most
                            used
                            backend derivative product by evey major company in the world. Sometime it was a regulatory
                            requirement, a new feature requested by client or need of the hour.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2008-14</span>
                    <div class="timeline-content">
                        <h6>
                            <span class="badge badge-success">RPGLE</span>
                            <span class="badge badge-info">CLLE</span>
                            <span class="badge badge-danger">SQL (DB2)</span>
                            <span class="badge badge-orchid">SHELL</span>
                            <span class="badge badge-pinka">VBA</span>
                        </h6>
                        <h3 class="title">Career start at Wipro</h3>
                        <p class="description font-weight-normal">
                            This is where it began. Just out of the college, recession was having its effect on the job
                            market.
                            After three rounds of interview, and lots of fever, was selected in this mammoth company.
                            After 6
                            weeks
                            of training, was assigned my first client <b>JP Morgan</b>. During my 5 and half years, I
                            built my
                            base
                            as a
                            developer and found it to be my passion as well. Skills developed here are core to my
                            foundation.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2002</span>
                    <div class="timeline-content">
                        <h3 class="title">First Job in Internet Cafe</h3>
                        <p class="description font-weight-normal">
                            My first high school job (just for curosity) to maintain internet cafe computers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>