{% extends '_base.html' %}


{% block content %}
<div class="container p-4 mb-5 bg-light rounded">
    <div class="title skill-header p-2 mt-2 mb-2 bg-light rounded">
        <h3 class="h3 font-weight-bold text-secondary mt-3">Tech Stack</h3>
    </div>
    <div class="skill-cover mt-0.5">
        <a class="skill-arrow">
            <i class="fa fa-link"></i>
        </a>
    </div>
    <div class="row justify-content-end border-bottom border-secondary">
        <div class="col-md-6 mb-5">
        </div>
    </div>
</div>

{% endblock %}