{% extends '_base.html' %}
{% load static %}
{% block content %}

<!-- NAVBAR -->
{% include "pages/_nav.html" %}

<!-- BODY START -->
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('static/img/bg1.jpg');">
      </div>
      <div class="container">
        <div class="photo-container mt-2">
          <img src="static/img/ashish_profile.jpg" alt="">
        </div>
        <h3 class="title">Ashish Bagaddeo</h3>
        <p class="category font-weight-normal mb-2"> Eat ~ Code ~ Party ~ Sleep </p>
        <div class="content mt-5">
          <div class="social-description">
            <h2>9 years</h2>
            <p>Experience</p>
          </div>
          <div class="social-description">
            <h2>32</h2>
            <p>Age</p>
          </div>
          <div class="social-description">
            <h2>London</h2>
            <p>Location</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-body">
      <div class="container">
        <div class="button-container mb-2">
          <a href="https://www.linkedin.com/in/ashish-bagaddeo-48425278/" class="btn btn-primary btn-round btn-lg btn-icon"
            rel="tooltip" title="Check put my profile on LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://facebook.com/crashish" class="btn btn-info btn-round btn-lg btn-icon" rel="tooltip" title="Like me on Facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://github.com/cod-e-ash" class="btn btn-danger btn-round btn-lg btn-icon" rel="tooltip" title="Checkout my Github repo">
            <i class="fab fa-github"></i>
          </a>
        </div>

        <!-- ABOUT ME -->
        {% include "pages/_aboutme.html" %}

        <!-- EDUCATION -->
        {% include "pages/_education.html" %}

        <!-- TECHSTACK -->
        {% include "pages/_techstack.html" %}

        <!-- WORK EX -->
        {% include "pages/_workex.html" %}

        <!-- PORTFOLIO -->
        {% include "pages/_portfolio.html" %}

        </div>
    </div>
    
    <!-- CONTACT ME -->
    {% include "pages/_contactme.html" %}
</div>

<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="{% static '/files/Ashish.Bagaddeo.Profile.doc' %}">
            Resume
          </a>
        </li>
        <li>
          <a class="text-lowercase" href="mailto: ashish@bagaddeo.com">
            ashish@bagaddeo.com
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright d-none d-lg-flex" id="copyright">
      &copy;
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>, Components by
      <a href="https://www.creative-tim.com" target="_blank"></a>Creative Tim</a>. | Designed & Developed by
      <a href="mailto: ashish@bagaddeo.com">Ashish Bagaddeo</a>.
    </div>
  </div>
</footer>
</div>
{% endblock %}
