
.profile-page .page-header {
    min-height: 650px;
}

.profile-page .photo-container {
    width: 150px;
    height: 150px;
}

.profile-page .title {
    margin-top: -5px;
}

.badge-orchid {
    border-color: darkorchid;
    background-color: darkorchid;
    color: #fff;
}

.badge-pinka {
    border-color: rgb(216, 56, 109);
    background-color: rgb(216, 56, 109);
    color: #fff;
}

.main-timeline8 .timeline:nth-child(2n) .year {
    background: #64e28a;
}

.main-timeline8 .timeline:nth-child(4n) .year {
    background: #fd7486
}

.progress-container .progress {
    height: 10px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.progress-container .progress-value {
    font-weight: bold;
}

.progress-container.progress-orchid .progress {
    background: rgb(222, 164, 252)
}

.progress-container.progress-orchid .progress-bar {
    background: darkorchid;
}

.progress-container.progress-orchid .progress-badge,
.progress-container.progress-orchid .progress-value {
    color: darkorchid;
}

.progress-container.progress-pinka .progress {
    background: rgb(243, 154, 183);
}

.progress-container.progress-pinka .progress-bar {
    background: rgb(216, 56, 109);
}

.progress-container.progress-pinka .progress-badge,
.progress-container.progress-pinka .progress-value {
    color: rgb(216, 56, 109);
}

.skill-cover {
    display: block;
    margin: 45%;
    margin-top: -35px;
    text-align: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 0;
    max-width: 80px;
    min-width: auto;
    margin-bottom: 4px;
    color: #FFFFFF;
    background-color: #f96332;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.skill-arrow {
    /* display: block; */
    align-self: middle;
    line-height: 80px;
    font-size: 24px;
}