body {
    /* min-width: 480px; */
    height: 100%;
}

.contact-sec {
    margin-top: -80px;
}

.section-body {
    padding-bottom: 0;
}

.workex {
    background-image: linear-gradient(rgb(248, 249, 252), rgb(214, 215, 216));
}

.techstack {
    background-image: linear-gradient(rgb(248, 252, 252), rgb(234, 237, 240));
}

.input-group .form-control {
    background: transparent;
    /* background-color: rgba(255, 255, 255, 0.527) !important; */
    font-size: 15px;
}

.input-group .input-group-text {
    background: transparent;
    /* background-color: rgba(255, 255, 255, 0.527) !important; */
}

.input-group-focus {
    /* background: transparent; */
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgb(50, 92, 168);
    font-weight: bolder;
}

textarea .form-control {
    background: transparent;
}

textarea:focus {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgb(182, 141, 141);
}


.profile-page .page-header {
    min-height: 650px;
}

.profile-page .photo-container {
    width: 150px;
    height: 150px;
}

.profile-page .title {
    margin-top: -5px;
}

.badge-orchid {
    border-color: darkorchid;
    background-color: darkorchid;
    color: #fff;
}

.badge-pinka {
    border-color: rgb(216, 56, 109);
    background-color: rgb(216, 56, 109);
    color: #fff;
}

.main-timeline8 .timeline:nth-child(2n) .year {
    background: #64e28a;
}

.main-timeline8 .timeline:nth-child(4n) .year {
    background: #fd7486
}

.progress-container .progress {
    height: 10px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.progress-container .progress-value {
    font-weight: bold;
}

.progress-container.progress-orchid .progress {
    background: rgb(222, 164, 252)
}

.progress-container.progress-orchid .progress-bar {
    background: darkorchid;
}

.progress-container.progress-orchid .progress-badge,
.progress-container.progress-orchid .progress-value {
    color: darkorchid;
}

.progress-container.progress-pinka .progress {
    background: rgb(243, 154, 183);
}

.progress-container.progress-pinka .progress-bar {
    background: rgb(216, 56, 109);
}

.progress-container.progress-pinka .progress-badge,
.progress-container.progress-pinka .progress-value {
    color: rgb(216, 56, 109);
}

.skill-cover {
    display: block;
    margin: 45%;
    margin-top: -35px;
    text-align: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 0;
    max-width: 80px;
    min-width: auto;
    margin-bottom: 4px;
    color: #FFFFFF;
    background-color: #f96332;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.skill-arrow {
    /* display: block; */
    align-self: middle;
    line-height: 80px;
    font-size: 24px;
}


/* Education Card Animation */

.edu .row {
    overflow: hidden;
    padding: 10px;
    /* margin: -10px; */
}

.edu .card {
    height: 50px;
    text-decoration: none;
    place-content: center;
    padding: 1em;
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    transition: .15s linear;
}

.card1 {
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg);
    margin-left: 20px;
    background-color: rgb(255, 255, 155);
}

.card2 {
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background-color: rgb(253, 215, 156);
}

.card3 {
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background-color: rgb(153, 255, 187);
}

.card4 {
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
    position: relative;
    top: -10px;
    background-color: rgb(154, 214, 253);
}

.edu .card:hover,
.edu .card:focus {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    position: relative;
    height: 200px;

    z-index: 1;
    margin-top: 20px;
}